.Badge {
  padding: 4px 8px;
  border-radius: 12px;
  background: hsl(180, 29%, 50%);
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  font-size: smaller;
}

.Badge:not(:last-of-type) {
  margin-right: 5px;
}

.Badge--inverted {
  background-color: hsl(180, 14%, 20%);
  color: white;
}
